{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <section class="mod-archive" data-scroll-section>
            <div class="container">
               <h1 class="h2 mb-5 mt-3 text-center">{% if lang == 'nl_NL' %}Blog{% else %}Blog{% endif %}</h1>
               
               <div id="theposts" class="row">
                  {% for item in posts %}
                      <div class="col-md-4">
                          {% include ['tease-blog.twig'] %}
                      </div>
                  {% endfor %}
               </div>
               
               {% if posts.pagination.next %}
               
                  <div class="col-12 text-center">
                     <div class="load-more">
                        <a class="btn btn-dark mt-5 " id="load-more-posts">
                           Meer
                        </a>
                     </div>
                  </div> 
                
               {% endif %}
            </div>
        </section>
        
        {% include 'pagebuilder.twig' %}
        
    </article>
{% endblock %}