<section class="mod-content single-content content-text bg-greylight text-lg altfont" data-scroll-section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
				{% if item.tekst %}
					{{ item.tekst }}
				{% endif %}
			</div>
		</div>
	</div>
</section>